﻿@model IEnumerable<EgitimMerkezi.Duyurular>

 <!-- Show Latest Blog News -->
<div class="col-md-6">
    <div class="widget-main">
        <div class="widget-main-title">
            <h4 class="widget-title">Latest News</h4>
        </div> <!-- /.widget-main-title -->
        <div class="widget-inner">
        @foreach (var item in Model)
        {
            <div class="blog-list-post clearfix">
                <div class="blog-list-thumb">
                    <a href="blog-single.html"><img src="http://placehold.it/65x65" alt=""></a>
                </div>
                <div class="blog-list-details">
                    <h5 class="blog-list-title"><a href="blog-single.html">@item.DuyuruBaslik</a></h5>
                    <p class="blog-list-meta small-text"><span><a href="#">12 January 2014</a></span> with <span><a href="#">3 comments</a></span></p>
                </div>
            </div> <!-- /.blog-list-post -->
        }
         
           
        </div> <!-- /.widget-inner -->
    </div> <!-- /.widget-main -->
</div> <!-- /col-md-6 -->